* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: lightblue;
    text-decoration: none;
}


/* Header and Nav section */

h1 {
    background-color: lightblue;
    display: inline-block;
    padding-left: 80px;
    padding-right: 10px;
    font-size: 50px;
    color: #31343f;
    margin-left: -20px;
}

header {
    background-color: #31343f;
    padding: 10px;
    color: lightblue;
    width: 100%;
}

nav {
    float: right;
    display: inline-block;
    margin-right: 120px;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
    color: whitesmoke;
    border-bottom: 2px solid lightblue;
    padding: 5px;
}


/* Header Image */

.header-img {
    height: 200px;
    width: 100%;
    background-image: url(../images/texture.jpg);
    background-position: cover;
    background-position:left;
}

.web-dev {
    float: right;
    padding: 5px;
    background-color: lightblue;
    font-size: 25px;
    position: relative;
    right: 40px;
    top: 120px;
}


/* Body and section titles */

body {
    background-color: whitesmoke;
    color: #31343f;
    display: flex;
    flex-wrap: wrap;
}

main {
margin: 20px;

}

h2 {
    font-size: 50px;
    text-align: right;
}

.rows {
    display: block;
    padding: 60px;
}

.content {
    width: auto;
    float: left;
    display: block;
}


/* About me section */

#about-me p {
    font-size: 12px;
    padding: 10px;
    width: 70%;
    float: right;
    border-left: 2px solid #31343f;
    padding-left: 20px;
}

.about-me-title {
    float: left;
    width: 25%;
}


/* Work section */

.work-title {
    float: left;
    width: 25%;
}

.work-samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 100%;
    border-left: 2px solid #31343f;
    width: 70%;
}



.big-card {
    background-image: url(../images/ocean.jpg);
    background-position: center;
    border: 3px solid lightblue;
    padding: 200px;
    display: flex;
    float: right;
    margin-left: 20px;
    width: auto;
}

.big-card div {
    background-color: lightblue;
    position: relative;
    padding: 5px;
    font-size: 16px;
    right: 200px;
    top: 150px;
}

.small-card {
    border: 3px solid lightblue;
    padding: 50px;
    padding-left: 300px;
    display: flex;
    float: right;
    margin: 5px;
    margin-left: 20px;
    width: auto;
}

.small-card div {
    background-color: lightblue;
    position: relative;
    right: 300px;
    padding: 5px;
    font-size: 16px;
    top: 20px;
}

.small-card div p {
    font-size: 12px;
}

#wall {
    background-image: url(../images/city.jpg);
    background-position: left;
}

#calculator {
    background-image: url(../images/numbers.jpg);
    background-position: center;
}

#puzzles {
    background-image: url(../images/puzzles.jpg);
    background-position: left;
    image-rendering: auto;
}

#buddy {
    background-image: url(../images/texture.jpg);
    background-position: center;
}










/* Contact Me section */

.contact-me-title {
    float: left;
    width: 25%;
}

.contact-me {
    border-left: 2px solid #31343f;
    padding: 20px;
    width: 70%;
    float: right;

}

#contact-me ul li {
    display: inline-block;
    padding: 5px;
    color: #31343f;
    margin: 30px;
    border-bottom: 2px solid #31343f;
    float: right;
}

.contact-me li a {
    color: #31343f;
}